In [1]:
def odd_even(num):
    if num%2==0:
        print("even")
    else:
        print("odd")
odd_even(5)

odd

In [2]:
#return vs print
def hello_world():
    print("hello")
hello_world()

hello

In [5]:
def hello_world():
    return("hello")
val = hello_world()
print(val)

hello

In [9]:
def details(name,age):
    print("my name is {} and my age is {}".format(name,age))
details("rithish",20)

my name isrithish and my age is20

# lambda

In [10]:
def add(a,b):
    print(a+b)
add(1,3)

4

In [11]:
add = lambda a,b : a+b
add(2,4)

6

# map function

In [18]:
lst = [1,2,3,46]
list(map(odd_even,lst))

odd
even
odd
even

[None, None, None, None]

In [22]:
list(filter(odd_even,lst))

odd
even
odd
even

[]

# list comprehension

In [ ]:
lst1=[]
def lst_square(lst):
    for i in lst:
        lst.append(i*i)
    return lst
lst_square([1,2,3,4])

In [ ]:
lst = [1,2,3,5,7]
[i*i for i in lst]

In [ ]:
lst = [1,2,3,5]
[i*i for i in lst if i%2==0]